.Topbar {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
}

.logo {
  flex: 1;
  padding-left: 100px;
}
.logoo {
  height: 100px;
}

.atas {
  max-width: 1200px;
}

.top {
  padding-top: 30px;
}

.top a {
  color: white;
  font-size: 25px;
  margin-left: 80px;
}
@font-face {
  font-family: product-sans;
  src: url(./../../assets/fonts/ProductSansRegular.ttf);
}
