.about {
  background-color: #d0d0d0;
  z-index: 1;
  width: 100%;
  max-height: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dalem2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  max-width: 1200px;

  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.kanankiri {
  display: flex;
}
.bergerak {
  flex: 1;
  width: 100px;
  overflow: hidden;
  height: 50px;
}

.gerakgerak {
  flex: 1;
  height: 100%;
  padding: 50px;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.pertama {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  background-color: #d0d0d0;
  align-items: center;
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  display: block;
  position: relative;
  padding: 10px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
}

.button a:active {
  top: 10px;
  background-color: gray;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c418, inset 0 -3px 0 #000000;
  -moz-box-shadow: inset 0 1px 0 #ffe5c418, inset 0 -3px 0 #000000;
  box-shadow: inset 0 1px 0 #ffe5c418, inset 0 -3px 0 #000000;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.isiabout {
  font-weight: bold;

  font-size: 22px;
}

.isis {
  margin-right: 1000px;
}
@font-face {
  font-family: product-sans;
  src: url(./../../assets/fonts/ProductSansRegular.ttf);
}
