@font-face {
  font-family: product-sans;
  src: url(./assets/fonts/ProductSansRegular.ttf), format("truetype");
}
body {
  margin: 0;
  font-family: product-sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: product-sans, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
